<div class="base main-block">
  <div class="main-div">
    <div class="row">
      <div class="col" style="padding-left:12px;">
        <div class="nav-block" (click)="navigate()" style="background: #D62828;">Private Alineline</div>
      </div>
      <div class="col">
        <div class="nav-block" (click)="navigate()" style="background: #14213D;">Public Alineline</div>
      </div>
      <div class="col" style="padding-right:12px;">
        <div class="nav-block"  (click)="navigate()" style="background: #FCA311;">Hybrid Alineline</div>
      </div>
    </div>
  </div>
</div>